/*Footer-section*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background: #f9f9f9;
    color: var(--footer-txt-color);
    padding: 1.5rem;
    width: 100%;
    z-index: 9;
}
.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

/*Hours-Operation*/
.footer-operation-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    margin-bottom: 1.5rem;
}
.footer-operation-container h4 {
    font-size: clamp(1rem, 2.5vw, 3rem);
    margin-bottom: 1rem;
}
.operation-list {
    list-style-type: none;
    padding: 0;
    margin: auto;
    text-align: left;
    width: 100%;
}
.operation-item {
    font-size: clamp(0.7rem, 1vw, 2rem);
    margin-bottom: 0.8rem;
    border-bottom: 1px solid var(--footer-txt-color);
    padding-bottom: 0.5rem;
    transition: color 0.3s ease-in-out;
}
.operation-item:hover {
    color: var(--footer-txt-hover-color);
}
.day, .time {
    margin: 0;
    padding: 0;
}
.time {
    text-align: right;
}

/*Visit-Us*/
.footer-contact-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    padding: 0 1rem;
    width: 60%;
    /*outline: 2px solid red;*/
}
.footer-contact-container h4 {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    margin: auto !important;
}
.contact-info-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.contact-info-label {
    font-size: clamp(0.7rem, 1vw, 2rem);
    text-align: left;
}
.label-address,
.label-phone,
.label-email {
    margin: 0.5vw 0;
    color: var(--footer-txt-color);
    transition: color 0.3s ease-in-out;
}
.label-address:hover,
.label-phone:hover,
.label-email:hover {
    color: var(--footer-txt-hover-color);
}
.contact-info-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.label-txt {
    font-size: clamp(0.7rem, 1vw, 2rem);
}
/*Location*/
.footer-map {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    /*outline: 2px solid red;*/
}
.location-label {
    font-size: clamp(0.9rem, 2vw, 3rem);
    margin-top: 1rem;
}
.google-map {
    width: calc(100% + 3rem);
    height: auto;
}


@media (min-width: 992px) {
    .footer {
        flex-direction: row;
        align-items: center;
        padding: 2vw;
    }
    .footer-left {
        flex-direction: row;
        gap: 2vw;
        width: 45vw;
        height: 35vh;
        /*outline: 2px solid red;*/
    }
    .footer-operation-container {
        height: 100%;
    }
    .footer-operation-container h4 {
        font-size: 1.7vw;
    }
    .footer-contact-container {
        position: relative;
        padding: 0 0.5vw;
        height: 100%;
     }
    .footer-contact-container::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 90%;
        background-color: var(--footer-txt-color);
    }
    .footer-contact-container h4 {
        font-size: 1.7vw;
        margin: 0 auto 1vw auto !important;
    }
    .operation-list {
        list-style-type: none;
        padding: 0;
        margin-top: 15px;
        text-align: left;
        width: 100%;
        gap: 2vw;
    }
    .operation-item {
        margin: auto;
    }
    .contact-info-container {
        margin-bottom: 1vw;
    }
    .contact-info-phone {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .location-label {
        margin-top: 0;
    }
    .footer-map {
        width: min(650px, 40%);
        height: 35vh;
        margin-left: 5vw;
    }
    .footer-map iframe {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}